body {
    background-color: #000;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
nav img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
.card-body{
    background-color: #00A5BB;
}
.card-text{
    color: white;
}
#QuienesSomos article div {
    background-color: #00A5BB;
}

form{
    color: white;
}
.btn{
    background-color: #00A5BB;
}

footer {
    background-color: #00A5BB;
    text-decoration: none;
    color: #fff;
}